.generator{
    overflow:hidden;
    height: 215px;
    transition: 0.2s;
}
.generator.active{
    height: 545px;
}
.generator h1{
    font-size: 21px;
}
.generator p{
    color: #555;
    font-size: 16px;
    margin-top: 5px;
}
.generator-form{
    margin: 20px 0;
}
.generator-form input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 18px;
    padding: 0 15px;
}
.generator-form button{
    width: 100%;
    height: 55px;
    background: #0283d8;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
}
.generator-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;
    border: 2px dashed #555;
    pointer-events: none;
}
.generator-img img{
    width: 200px;
    height: 200px;

}
.generator-btn{
    text-align: center;
    margin-top: 10px;
}
.generator-btn .btn-link{
    background: transparent;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 10px 10px 10px 0;
    transition: 0.4s;
}
.generator-btn .btn-link:hover{
    padding: 10px;
    background: rgba(36, 113, 255, 0.1);
}